<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="EUC-KR">
		<title>쇼핑몰 -이미지 포함 업로드</title>
	</head>
	<body>
		
		<form th:action="@{/item/new}" method="post" enctype="multipart/form-data">
			<h1>상품 이미지 및 상품 내용 업로드</h1>
			<label>상품 판매 / 품질 유무</label>
			<input type="radio" name="isSoldOut" id="isSoldOut" value="0" /> 판매중
			<input type="radio" name="isSoldOut" id="isSoldOut" value="1" /> 품절 <br>
			
			<label>상품 명 : </label>
			<input type="text" name="name" id="name" placeholder="상품이름을 넣어주세요." required/><br>
			
			<label>상품 설명 :</label>
			<input type="text" name="text" id="text" placeholder="상품설명을 넣어주세요." required/><br>
			
			<label>상품 가격 :</label>
			<input type="text" name="price" id="price"placeholder="가격을 입력하세요." required/><br>
			
			<label>상품 재고 : </label>
			<input type="text" name="stock" id="stock" placeholder="상품 재고 입력하세요." required/><br>
			
			<label>상품 이미지 업로드 :</label>
			<input type="file" name="imgFile" id="imgFile"/><br>
			
			<button type="submit">상품 등록</button><br>
			
		</form>
	
	</body>
</html>