<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
	<head>
	<meta charset="EUC-KR">
	<title>유저 정보 조회</title>
	</head>
	<body>
		<h1>all user info</h1>
		<table border="1">
			<thead>
				<tr>
					<th>ID</th>
					<th>name</th>
					<th>email</th>
					<th>birth</th>
					<th>수정하기</th>
					<th>삭제하기</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="u : ${users}">
					<a href="#"><td th:text="${u.mno}"></a></td>
					<td th:text="${u.mname}"></td>
					<td th:text="${u.memail}"></td>
					<td th:text="${u.mbirth}"></td>
					<td><a th:href="@{'/user-update/' + ${u.mno}}">click</a></td>
					<td><a th:href="@{'/user-delete/' + ${u.mno}}">click</a></td>
				</tr>
				
			</tbody>
			
		</table>
		
	</body>
</html>