<!DOCTYPE html>
<html>
	<head>
		<meta charset="EUC-KR">
		<title>Board Detail</title>
	</head>
	<body>
		<h2>Board Detail</h2>
		<table border="1">
			<tr>
				<th>BOARD_ID</th>
				<th>TITLE</th>
				<th>CONTENT</th>
				<th>AUTHOR</th>
			</tr>
			<tr th:if="${board != null}">
				<td th:text="${board.board_id}"></td>
				<td th:text="${board.title}"></td>
				<td th:text="${board.content}"></td>
				<td th:text="${board.author}"></td>
				<a th:href="@{/boards}">목록으로 돌아가기</a>
			</tr>
		</table>
		
	</body>
</html>